<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <!-- Form to submit login data -->
    <form action="/u1/Login" method="POST" enctype="multipart/form-data">
        <label for="email">Username:</label>
        <input type="email" id="username" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form> <br>
     <a href="/u1/home">Signup</a>
</body>
</html>
